.title{
  text-align: center;
  font-family: cursive;
  background-color:rgb(59, 18, 59);
  color:#EDDBC7;
  font-size: 90px;
  padding-top: 300px;
  padding-bottom: 300px;
  margin-top: 0px;
  //underline
}

}
