.title{
  text-align: center;
  font-family: cursive;
  background-color:rgb(59, 18, 59);
  color:#EDDBC7;
  font-size: 90px;
  padding-top: 300px;
  padding-bottom: 300px;
  margin: 0px;
}
.hello{
  font-size: 40px;
}




body{
  margin:0px;
  text-align: center;

}
.title .hello{
  margin-top: 0px;
}

.pg9 {
  display:flex;
}

.mental {
  flex: 20%;
  margin: 10px;
  border: 5px double;
  padding: 5px;
  text-align: center;
}
.environmental {
  flex: 20%;
  margin: 10px;
  border: 5px double;
  padding: 5px;
  text-align: center;
}

.physicalPic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.mentalPic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.physical {
  flex:20%;
  margin:10px;
  border: 5px double;
  padding: 5px;
  text-align: center;
}

.spiritual {
  flex: 20%;
  margin: 10px;
  border: 5px double;
  padding: 5px;
  text-align: center;
}

.emotional {
  flex:20%;
  margin: 10px;
  border: 5px double;
  padding: 5px;
  text-align: center;
}

button {
  background-color: lightblue;
  height:50px;
  width:250px;
  border-radius: 30px;
  font-size: 14px;
}
.name-input{
  width:300px;
  height:30px;
  border: dotted grey;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;

}
.enter{
  height:40px;
  width:140px;
  background-color: lightyellow;
}
